@page "/AddCar"
@using MudBlazor
@using warsztat.Services 
@inject NavigationManager NavigationManager
@inject ICarService carService 
@using warsztat.Models

<h3>Dodaj samochód do naprawy</h3>

<MudContainer>
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" Model="car">
                <MudTextField @bind-Value="car.Model" Variant="Variant.Outlined" Label="Model samochodu" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudTextField @bind-Value="car.Year" Class="border-solid border-1 mud-border-primary pa-2" Label="Rocznik samochodu" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudSwitch @bind-Value="car.IsBroken" Class="border-solid border-1 mud-border-primary pa-2" Label="Czy zepsuty?" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudTextField @bind-Value="car.Price" Class="border-solid border-1 mud-border-primary pa-2" Label="Cena naprawy" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm">Dodaj samochód</MudButton>
            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Return">Powrót</MudButton>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    private Car car = new();
    private MudForm form;

    private async Task SubmitForm()
    {
        if (form.IsValid)
        {
            Console.WriteLine($"Model: {car.Model}, Year: {car.Year}, IsBroken: {car.IsBroken}, Price: {car.Price}");
            await carService.AddCarAsync(car); // Zapis do bazy
            NavigationManager.NavigateTo("/ViewCar");
        }
        else
        {
            Console.WriteLine("Formularz nie jest ważny.");
        }
    }

    private void Return()
    {
        NavigationManager.NavigateTo("/ViewCar");
    }
}
