@page "/AddWorker"
@using MudBlazor
@using warsztat.Services
@inject NavigationManager NavigationManager
@inject IWorkerService workerService
@using warsztat.Models

<h3>Dodaj pracownika</h3>

<MudContainer>
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" Model="worker">
                <MudTextField @bind-Value="worker.FirstName" Label="Imię pracownika" Required="true" />
                <MudTextField @bind-Value="worker.LastName" Label="Nazwisko pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Age" Label="Wiek pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Address" Label="Adres zamieszkania pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Position" Label="Stanowisko pracownika" Required="true" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm">Dodaj pracownika</MudButton>
            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Return">Powrót</MudButton>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    private Worker worker = new();
    private MudForm form;

    private async Task SubmitForm()
    {
        if (form.IsValid)
        {
            Console.WriteLine($"Imię: {worker.FirstName}, Nazwisko: {worker.LastName}, Wiek: {worker.Age}, Adres: {worker.Address}, Stanowisko: {worker.Position}");
            await workerService.AddWorkerAsync(worker); // Zapis do bazy przez serwis
            NavigationManager.NavigateTo("/ViewWorker");
        }
        else
        {
            Console.WriteLine("Formularz nie jest ważny.");
        }
    }

    private void Return()
    {
        NavigationManager.NavigateTo("/ViewWorker");
    }
}
