@page "/AddWorker"
@using MudBlazor
@using Blazored.LocalStorage
@inject NavigationManager NavigationManager
@inject ILocalStorageService localStorage

<h3>Dodaj pracownika</h3>

<MudContainer>
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" Model="worker">
                <MudTextField @bind-Value="worker.Name" Label="Imię pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Surname" Label="Nazwisko pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Age" Label="Wiek pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Address" Label="Adres zamieszkania pracownika" Required="true" />
                <MudTextField @bind-Value="worker.Position" Label="Stanowisko pracownika" Required="true" />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm">Dodaj pracownika</MudButton>
            </MudForm>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    private Worker worker = new();
    private MudForm form;

    private async void SubmitForm()
    {
        if (form.IsValid)
        {
            Console.WriteLine($"Dodano pracownika: {worker.Name}, Nazwisko: {worker.Surname}, Wiek: {worker.Age}, Adres: {worker.Address}, Stanowisko: {worker.Position}");

            await SaveWorkerToLocalStorage(worker);

            NavigationManager.NavigateTo("/ViewWorker");
        }
        else
        {
            Console.WriteLine("Formularz nie jest ważny.");
        }
    }

    private async Task SaveWorkerToLocalStorage(Worker worker)
    {
        // Wczytanie istniejących pracowników
        var workers = await localStorage.GetItemAsync<List<Worker>>("workers") ?? new List<Worker>();

        // Dodanie nowego pracownika
        workers.Add(worker);

        // Zapis do localStorage
        await localStorage.SetItemAsync("workers", workers);
        Console.WriteLine("Dodano pracownika do localStorage");
    }

    public class Worker
    {
        public string Name { get; set; }
        public string Surname { get; set; }
        public int Age { get; set; }
        public string Address { get; set; }
        public string Position { get; set; }
    }
}
