@page "/AddWorkshop"
@using MudBlazor
@using warsztat.Services
@inject NavigationManager NavigationManager
@inject IWorkshopService WorkshopService 
@using warsztat.Models

<h3>Dodaj warsztat</h3>

<MudContainer>
    <MudCard>
        <MudCardContent>
            <MudForm @ref="form" Model="workshop" Validations="null">
                <MudTextField @bind-Value="workshop.NameWorkshop" Variant="Variant.Outlined" Label="Nazwa warsztatu" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudTextField @bind-Value="workshop.Description" Variant="Variant.Outlined" Label="Opis warsztatu" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudTextField @bind-Value="workshop.Location" Variant="Variant.Outlined" Label="Lokalizacja warsztatu" Required="true" />
                <MudDivider />
                <MudDivider />
                <MudDivider />
                <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="SubmitForm">Dodaj warsztat</MudButton>
            </MudForm>
            <MudButton Variant="Variant.Filled" Color="Color.Primary" OnClick="Return">Powrót</MudButton>
        </MudCardContent>
    </MudCard>
</MudContainer>

@code {
    private Workshop workshop = new();
    private MudForm form;

    private async Task SubmitForm()
    {
        if (form.IsValid)
        {
            Console.WriteLine($"Nazwa warsztatu : {workshop.NameWorkshop}, Opis warsztatu: {workshop.Description}, Lokalizacja warsztatu: {workshop.Location}");
            await WorkshopService.AddWorkshopAsync(workshop); // Zapisz warsztat do bazy
            NavigationManager.NavigateTo("/ViewWorkshop"); // Przejdź do widoku warsztatów
        }
        else
        {
            Console.WriteLine("Formularz nie jest ważny."); 
        }
    }

    private void Return()
    {
        NavigationManager.NavigateTo("/ViewWorkshop"); 
    }
}
