@page "/ViewWorkshop"
@using MudBlazor
@inject NavigationManager NavigationManager

<h3>Warsztaty</h3>

<MudContainer>
    <MudButton Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="NavigateToAddWorkshop">
        Dodaj Warsztat
    </MudButton>
</MudContainer>

@code {
    private void NavigateToAddWorkshop(){
        NavigationManager.NavigateTo("/AddWorkshop");
    }
}
