@page "/ViewWorker"
@using MudBlazor
@inject NavigationManager NavigationManager

<h3>Pracownicy</h3>

<MudContainer>
    <MudButton Variant="MudBlazor.Variant.Filled" Color="MudBlazor.Color.Primary" OnClick="NavigateToAddWorker">
        Dodaj Pracownika
    </MudButton>
</MudContainer>

@code {
    private void NavigateToAddWorker(){
        NavigationManager.NavigateTo("/AddWorker");
    }
}
